* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  color: white;
  background-color: #d47479;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: helvetica, sans-serif;
  border-right: 10px solid black;
  border-left: 10px solid black;

  border-bottom: 10px solid black;
  overflow: auto;
  min-height: 100%;
}

a,
a:visited {
  text-decoration: none;
  color: white;
  font-family: helvetica, sans-serif;
  padding: 5px;
}
a:hover {
  background-color: white;
  color: black;
}

h1 {
  color: white;
  background-color: black;
  padding: 15px;
  margin: 0px;
  font-size: 250%;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  padding: 10px 10px 10px 15px;
  margin: -5px;
  font-size: 120%;
}

#me {
  margin: 10px;
  float: left;
}
.section1 {
  margin: 10px;
  font-size: 120%;

  line-height: 1.5;
}
.section2 {
  margin: 10px;
  font-size: 150%;
  border-top: 2px solid white;

  clear: left;
}

.section3 {
  display: flex;
  font-size: 150%;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 10px;
}

.social {
  background-color: black;
  padding: 10px 40px;
  width: 150px;
  text-align: center;
}

.social:hover {
}
img {
  border: 6px solid white;
}

footer {
  margin: 10px;
}
