a,
a:visited {
  text-decoration: none;
  color: white;
  font-family: helvetica, sans-serif;
  padding: 0px 10px;
}
a:hover {
  background-color: white;
  color: black;
}

.headline--h1 {
  color: white;
  background-color: black;
  padding: 20px;
  margin: 0px;
  font-size: 250%;
}
.headline--h2 {
  font-size: 160%;
}
nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  padding: 10px 10px 10px 15px;
  margin: -5px;
  margin-bottom: 20px;
  font-size: 150%;
}

.section--section1 {
  margin: 15px;
  font-size: 150%;
  padding: 0px 15px;
  margin-bottom: 30px;
}
.section--section2 {
  padding: 15px;
  margin: 15px;
  font-size: 150%;
  border-top: 2px solid white;
  clear: left;
}

.section--section3 {
  display: flex;
  font-size: 150%;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 10px;
}

.section--section4 {
  font-size: 150%;
  padding: 15px;
  border-top: 2px solid white;
  margin: 30px 15px;
}

.section3--menuelements {
  background-color: black;
  padding: 10px 40px;
  width: 180px;
  text-align: center;
}

footer {
  margin: 10px;
  padding: 20px;
}

.ul--listitem {
  line-height: 2;
  list-style-type: square;
}
.button {
  display: flex;
  background-color: black;
  width: 100px;
  text-align: center;
  margin: auto;
  flex-direction: column;
  font-size: 150%;
  margin-bottom: 15px;
}
#me {
  margin: 0px 20px 5px 20px;
  float: left;
  border: 6px solid white;
}
